
.btn {
	border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 5px 0px 5px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn1 {
    /* background: #fcad26; */
    background:lightgray;
    color: #000;
}
.btn1a{
    padding: 6px 10px 4px 10px;
}
.btn1a:hover,
.btn1a:active {
    /* background: #f29e0d; */
    background: black;
    color: #fff;
    /* background: #E0C8AD; */
}
.btn1a:active {
    background: black;
    color: #fff;
    /* background: #f29e0d; */
    top: 1px;
}
